.main__works__nav{
  display: flex;
  padding-top: 41px;
  padding-bottom: 8px;
}

.main__portfolio__nav{
  margin: 0 auto;
  background-color: white;
}

.main__portfolio__link{
  margin-right: 25px;
  color: black;
  text-decoration: none;
  font-size: 15px;
}
.main__works{
  background-color: white;
  display:flex;
  flex-wrap: wrap;
}
.main__portfolio__work{
  overflow: hidden;
  border-radius: 15px;
  width: 370px;
  shadow: 2px 2px #707070;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 10px;
  border: 1px solid rgba(70,70,70, 0.25);

}

.work__image{
  width: 370px;
  height: 300px;
  background-color: grey;


}
.work__h3{

}

.Work__spacebitween{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.work__h2{

}

.center{
  display: flex;
  width: 1198px;
  margin-top: 55px;
}


/*about me section*/
.about__me{
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}

.about__me__text{
  padding-top: 25px;
  max-width: 502px;
  padding-right: 82px;
}

.about__me__h3{
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__me__h2{
  font-size: 92px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.3;
}

.about__me__p{
  font-size: 12px;
  line-height: 2.2;
}

.some__block{
  position: relative;
}

.circle{
  background-color: black;
  border-radius: 50%;
  height: 95px;
  width: 95px;
  border: 6px solid white;
  z-index: 5000;

  position: absolute;
  bottom: 47.5px;
  left: 43%;

  padding: 0%;
  background-size: 100%;
  margin-left: 47.5px;
}

.div__text{
  position: relative;
  overflow: hidden;
  background-color: white;
  margin: 0;
  display: flex;
  height: 232px;
  width: 1440px;
  z-index: 3;
  align-items: center;
}

.di__img{

  position: absolute;
  top: 0;
  left: 0;
  z-index:-1;

}

.di__some__text{
  z-index: 4;
  position: absolute;
  top: 60px;
  left: 300px;
  width: 830px;
}

.some__text{
  padding: 0%;
  color: white;
  font-size: 14px;
  text-align: justify;
  line-height: 2.2;
}



.di__h{
  z-index: 5;
  background-color: white;
  margin-top: 60px;
  text-align: center;

}

h3 div.di__h {
  font-size: 16px;
  font-weight: bold;
}

h4 div.di__h {
  font-size: 18px;
}

.read__me{
  text-align: center;
  padding-top: 87px;
  background-color: white;
}

h2 div.read__me{
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 div.read__me{
  font-size: 18px;
  font-weight: light;
  color: #8C8C8D;
}
